<ion-header >
  <ion-toolbar color="danger">
    <ion-title>
      <h1>Números</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-grid>
    <ion-row>
      <ion-col size='6' *ngFor = "let img of imagenes">
            <ion-card (click)="reproducir(img)" color="danger">
                <ion-card-content >
                  <ion-img [src]="img.ruta"></ion-img>
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
